<!DOCTYPE html>
<html>
  <head>
    <title>GMedia</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body>

    <p class="notice"><%= notice%></p>
    <p class="alert"><%= alert %></p>

    <%= render "layouts/navbar" %>
    <%= yield %>
  </body>
</html>
